<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles1.css">
        <title>HomePage</title>
    </head>

    <body>
        
        <!--Bloc contenant l'ensemble des infos de la page accueil hormis la barre de nav et le footer-->
        <main class="container">

            <!--Bloc contenant la zone de txt-->
            <section class="partLeft">
                <h1>Présentation du jeu :</h1>

                <p></p>

            </section>

            <!--Bloc contenant l'illustration-->
            <section class="partRight">

            </section>

        </main>

    </body>
</html>